
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    font-family: sans-serif;
    background: var(--background_color);
}

h1 {
    color: var(--text_color);
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    color: var(--text_color);
    text-align: left;
    padding-top: 1em;
    padding-left: 1em;
    margin: 0em;
}

h3 {
    font-weight: 700;
    color: var(--text_color);
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 1em;
}

hr {
    width: 98%;
    border-top: 1px solid var(--background_color);  /* text color gives too much contrast one one pixel scale */
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 1px;
    margin-bottom: 1px;
}

p {
    text-align: justify;
    font-size: 0.75em;
    color: var(--text_color)
}

.asset_info {
    padding-top: 1em;
    padding-right: 2em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

span {
    font-size: 1.2em;
}

.tab_container {
    width: 98%;
    margin: 0 auto;
    background: var(--tab_background_color);
    min-width: 50em;
    margin-bottom: 2em;
}

input, section {
    clear: both;
    padding-top: 10px;
    display: none;
}

.tab_label {
    font-weight: 700;
    display: block;
    float: left;
    width: 20%;
    padding-top: 0.65em;
    padding-bottom: 0.65em;
    color: var(--text_color);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: var(--tab_background_color);
}

#container0_tab0:checked ~ #container0_content0,
#container0_tab1:checked ~ #container0_content1,
#container0_tab2:checked ~ #container0_content2,
#container0_tab3:checked ~ #container0_content3,
#container0_tab4:checked ~ #container0_content4,
#container0_tab5:checked ~ #container0_content5,
#container0_tab6:checked ~ #container0_content6,
#container0_tab7:checked ~ #container0_content7,
#container0_tab8:checked ~ #container0_content8,
#container0_tab9:checked ~ #container0_content9,
#container1_tab0:checked ~ #container1_content0,
#container1_tab1:checked ~ #container1_content1,
#container1_tab2:checked ~ #container1_content2,
#container1_tab3:checked ~ #container1_content3,
#container1_tab4:checked ~ #container1_content4,
#container1_tab5:checked ~ #container1_content5,
#container1_tab6:checked ~ #container1_content6,
#container1_tab7:checked ~ #container1_content7,
#container1_tab8:checked ~ #container1_content8,
#container1_tab9:checked ~ #container1_content9,
#container2_tab0:checked ~ #container2_content0,
#container2_tab1:checked ~ #container2_content1,
#container2_tab2:checked ~ #container2_content2,
#container2_tab3:checked ~ #container2_content3,
#container2_tab4:checked ~ #container2_content4,
#container2_tab5:checked ~ #container2_content5,
#container2_tab6:checked ~ #container2_content6,
#container2_tab7:checked ~ #container2_content7,
#container2_tab8:checked ~ #container2_content8,
#container2_tab9:checked ~ #container2_content9 {
    display: block;
}

.button_image0,
.button_image1 {
    right: 2%;
    top: 2em;
    position: fixed;
    z-index: 100;
    width: 3em;
    height: 3em;
    padding: 0.6em;
    background-color: var(--checked_tab_indicator_color);
    border-radius: 50%;
    user-select: none;
    opacity: 0.2;
}

.button_image0:hover,
.button_image1:hover {
    opacity: 1;
}

.button_image0 { display: none; }

.tab_container .tab-content p,
.tab_container .tab-content h3,
.tab_container .tab-content div {
    -webkit-animation: fadeInScale 0.2s ease-in-out;
    -moz-animation: fadeInScale 0.2s ease-in-out;
    animation: fadeInScale 0.2s ease-in-out;
    overflow: hidden
}

.tab_container .tab-content h3    {
    text-align: center;
}

.tab_container [id*="tab"]:hover + label {
    background: var(--tab_background_color);
    box-shadow: inset 0 4px var(--hover_tab_indicator_color);
}

.tab_container [id*="tab"]:checked + label {
    background: var(--tab_background_color);
    box-shadow: inset 0 4px var(--checked_tab_indicator_color);
}

.tab_container [id*="tab"]:checked + label .label_name {
    color: var(--checked_tab_indicator_color);
}

.value_changes {
    font-size: 0.6em;
}

.fixed_button_area {
    top: 2em;
    right: 2%;
    position: fixed;
    z-index: 100;
}

.daily_change { display: none; }

#value_change_button:checked ~ * .daily_change { display: initial; }

#value_change_button:checked ~ * .monthly_change { display: none; }

/*Media query*/
@media only screen and (max-width: 900px) {
    label span {
        display: none;
    }
    
    .tab_container {
        width: 98%;
    }
}

.column {
    float: left;
    width: 20%;
    color: var(--text_color);
    text-align: center;
    padding-top: 0.5em;
}

/*Content Animation*/
@keyframes fadeInScale {
    0% {
        opacity: 0.5;
    }
    
    100% {
        opacity: 1;
    }
}

.footer {
    font-size: 1em;
    margin-top: 2em;
    text-align: center;
    color: var(--text_color)
}
